/* General Rules */
body {
    margin-left: 10%;
    margin-right: 10%;
    background-color:rgb(59, 72, 88);
}

.codeBox{
    background-color: black;
    border-color: red;
    color: white;
    border-style: solid;
    border-width: 1px;
    font-family: Arial;
    padding: 12px;
}

.contentBox {
    border-radius: 25px;
    padding: 20px;
}

.contentBox p{
    color: white;
    font-family: 'Verdana ', sans-serif;
}

.contentBox h2{
    color: black;
    font-size: 30px;
    background-image: linear-gradient(to left, #452e81, #716a79);
    border-radius: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
}

.pictures {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

/* Header */
#header {
    background-attachment:fixed;
    background-size:contain;
    font-family: 'Montserrat', sans-serif;
}

.title {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #da4a81 0%,
    #2774da 29%,
    #49a812 67%,
    #f3ec1c 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  text-align: center;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

/* Navigation Box */
.navBox {
    position: center;
    background: white;
    border-radius: 50% / 10%;
    color: black;
    text-align: center;
}


/* First Box */
#boxOnePic1{
    margin-left: 70%; 
    display: inline;
} 
#boxOnePic2{
    margin-right: 30%; 
    display: inline;
} 

#boxOne {
    background-color: grey;

}

/* Second Box */
#boxTwo {
    background-color: rgb(156, 135, 135);
}

/* Third Box */
#boxThree {
    background-color: rgb(128, 144, 187);
}

/* Fourth Box */
#boxFour {
    background-color: rgb(126, 87, 114);
}

/* Fifth Box */
#boxFive {
    background-color: rgb(69, 148, 99);
}

/* Sixth Box */
#boxSix {
    background-color: rgb(151, 133, 73);
}

/* Seventh Box */
#boxSeven {
    background-color: rgb(135, 145, 156);
}

/* Footer */
#footerText {
    font-style: italic;
    text-align: center;
    font-size: 12pt;
}




